<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name=""></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="happy"></ion-icon>
    </ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding container">
    <h4>
      Dine ønsker til appen
    </h4>
    <ion-textarea placeholder="Beskriv dine ønsker her..." rows="30"></ion-textarea>
    
  </div>

</ion-content>

<ion-footer no-shadow no-border>
	<ion-toolbar position="bottom">
		<ion-button round class="button" fill="outline">Indsend ønske</ion-button>
	</ion-toolbar>
</ion-footer>
