<ion-row class="ion-padding-top">
  <ion-col class="text-center">
    <h1>Hej Michael</h1>
    <p>Velkommen til MinSundhed</p>
  </ion-col>
</ion-row>
<ion-row class="ion-padding-top ion-padding-bottom">
  <ion-col>
    <div class="button-container">
      <ion-fab-button class="button" size="10" color="white"><ion-icon class="btn-icon" name="color-filter"></ion-icon></ion-fab-button>
      <p>Prøvesvar</p>
    </div>
  </ion-col>
  <ion-col>
    <div class="button-container">
      <ion-fab-button class="button" size="10" color="white"><ion-icon class="btn-icon" name="paper"></ion-icon></ion-fab-button>
      <p>Journaler</p>
    </div>
  </ion-col>
</ion-row>
