.text-center {
    text-align: center;
}

.button-container {
    text-align: center;
    justify-content: center;
}

.button-container .button {
    margin: 0 auto;
}

.btn-icon {
    color: #a00929;
    padding: 10px;
}