.card {
    width: 90%;
    border-radius: 15px;
    text-align: left;
    --background: #fff;
    max-height: 225px;
}

.card-header {
    padding: 24px;
}

.news-image {
    max-height: 200px;
    width: 100%;
}

ion-slides {
    overflow:auto;
    padding-bottom: 10px;
}

ion-slide {
    width: 90%;
    float: left;
}
