.Icon-container{
    color: red;
    padding: 5px;
    font-size: 40px;
}

.header-container{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}

.text-container{
    padding-bottom: 10px;
}

.button-container{
    background-color: white;
    color: red;
    padding: 0px;
    margin: 0px;
}

.card-container{
    width: 60%;
    margin: 0 auto;
}

.card-content-container{
    width: 75;
}